:root {
    --primary-color: #4B5B63;
    --secondary-color: #4C8FA6;
    --accent-color-1: #D59D85;
    --accent-color-2: #C4DCDD;

}
.head-font{
  font-family: "Playwrite IN", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font:bold;
  color: var(--secondary-color);
  
}
p {
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--primary-color);
}

a{
    text-decoration: none;
}

.hero-img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}
.article {
  position: absolute;
  
}
.article-img {
  position: absolute;
  top: 80px;
  right: 0;
  width: 70px;
  height: auto;
}