:root {
    --primary-color: #4B5B63;
    --secondary-color: #4C8FA6;
    --accent-color-1: #D59D85;
    --accent-color-2: #C4DCDD;
    --header-font: font-family: "Playwrite India" serif;
    --font: font-family: 


}