:root {
    --primary-color: #4B5B63;
    --secondary-color: hsl(195, 37%, 47%);
    --accent-color-1: hsl(18, 80%, 82%);
    --accent-color-2: hsl(182, 27%, 82%, 80%);

}

.head-font{
  font-family: "Playwrite IN", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  color: var(--secondary-color);
  
}

.body-font {
  font-family: "Nunito", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: var(--primary-color);
}

header {
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 1fr auto;
	align-items: end;
  background-color: var(--accent-color-1);
}

.icon-img {
  float: left;
	margin: auto 5px;
	width: 64px;
	height: auto;
}

h1 {
  font-size: 2rem;
}

.navigation {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	color: var(--accent-color-2)
}

nav ul {
  margin: 0 10px 0 0;
}

.navigation li {
	flex: 1 1 auto;
}

.navigation a {
  display: block;
  color: var(--primary-color);
  padding: 20px;
  text-decoration: none;
  font-size: 1.2rem;
}

.navigation a:hover {
  color: var(--secondary-color);
  font-weight: 700;
  text-decoration: wavy;
}

.history {
  display: grid;
  width: auto;
  padding: 10px;
  justify-content: space-around;
  grid-template-rows: repeat(1, 1fr);
  text-align: center;
  border: 2px solid var(--primary-color);
}

.history-words {
  display: flex;
  align-items: center;
  justify-items: center;
}

.hero{
    position: relative;
    top: 0;
    left: 0;
}

.hero-img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}

.comp-name {
  position: absolute;
  top: 75px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

article {
  position: absolute;
  top: 500px;
  background-color:var(--accent-color-2);
  margin: 20px;
  padding: 10px;
  margin-right: 500px;
  color: var(--primary-color);
  font-size: xx-large;
  text-align: center;
}

.about-us{
    margin: 1rem auto;
    
}

.article-img {
  float: right;
  width: 400px;
  height: auto;
  background-color: var(--accent-color-1);
  border: 10px solid var(--accent-color-1);
}

.adventure {
  display: grid;
  width: auto;
  padding: 10px;
  justify-content: space-around;
  background-color: var(--accent-color-2);
  grid-template-rows: repeat(1, 1fr);
  text-align: center;
  border: 2px solid var(--primary-color);

}
footer {
  margin: 1rem auto;
  display: grid;
  background-color: var(--accent-color-1);
  justify-items: flex-end;
}

footer p {
  margin: 0 auto;
  text-align: center;
}

.adventure-pics {
  display: flex;
  justify-content: space-between;
}

.adventure-pics figure {
  margin: auto 0;
  width: 15%;
  height: auto;
}

.adventure-pics figure img {
  width: 100%;
  height: auto;
}