:root {
  --primary-color: #192328;
  --secondary-color: hsl(195, 70%, 30%);
  --accent-color-1: hsl(18, 80%, 82%);
  --accent-color-2: hsla(180, 22%, 85%, 0.813);

}

.head-font {
  font-family: "Playwrite IN", serif;
  font-weight: 900;
  font-style: normal;
  color: var(--secondary-color);

}

.body-font {
  font-family: "Nunito", serif;
  font-weight: 700;
  font-style: normal;
  color: var(--primary-color);
}

header {
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: end;
  background-color: var(--accent-color-1);
}

.icon-img {
  float: left;
  margin: auto 5px;
  width: 64px;
  height: auto;
}

h1 {
  font-size: 2rem;
}

h2 {
  text-align: center;
  font-size: 1.5rem;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  color: var(--accent-color-2)
}

nav ul {
  margin: 0 10px 0 0;
}

.navigation li {
  flex: 1 1 auto;
}

.navigation a {
  display: block;
  color: var(--primary-color);
  padding: 20px;
  text-decoration: none;
  font-size: 1.2rem;
}

.navigation a:hover {
  color: var(--secondary-color);
  font-weight: 700;
  text-decoration: wavy;
}

.history {
  display: grid;
  width: auto;
  padding: 10px;
  justify-content: space-around;
  grid-template-rows: repeat(1, 1fr);
  text-align: center;
  border: 2px solid var(--primary-color);
}

.history-words {
  display: flex;
  align-items: center;
  justify-items: center;
}

.hero {
  position: relative;
  top: 0;
  left: 0;
}

.hero-img {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
}

.comp-name {
  position: absolute;
  top: 75px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

article {
  position: absolute;
  top: 500px;
  background-color: var(--accent-color-2);
  margin: 20px;
  padding: 10px;
  margin-right: 500px;
  color: var(--primary-color);
  font-size: xx-large;
  text-align: center;
}

.about-us {
  margin: 1rem auto;

}

.article-img {
  float: right;
  width: 400px;
  height: auto;
  background-color: var(--accent-color-1);
  border: 10px solid var(--accent-color-1);
}

.adventure {
  display: grid;
  width: auto;
  padding: 10px;
  justify-content: space-around;
  background-color: var(--accent-color-2);
  grid-template-rows: repeat(1, 1fr);
  text-align: center;
  border: 2px solid var(--primary-color);

}

footer {
  margin: 1rem auto;
  display: grid;
  background-color: var(--accent-color-1);
  justify-items: flex-end;
}

footer p {
  margin: 0 auto;
  text-align: center;
}

.adventure-pics {
  display: flex;
  justify-content: space-between;
}

.adventure-pics figure {
  margin: auto 0;
  width: 15%;
  height: auto;
}

.adventure-pics figure img {
  width: 100%;
  height: auto;
}


.welcome {
  text-align: center;
  background-color: var(--accent-color-2);
  text-decoration: wavy;
}

.locations{
  text-align: center;
 border-bottom: 1px solid var(--primary-color);
}
.headshots img {
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  width: 200px;
  height: auto;

}

.headshots {
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: row;
}

#map {
  position: relative;
  width: 50%;
  height: auto;
  padding-bottom: 40%;
  margin: 1rem;
  border: var(--primary-color) solid 1px;
  overflow: hidden;
}

#map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.map {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--accent-color-2);
  text-align: left;
}

.address{
  padding: 10px;
  margin: 10px;
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 600px;
  height: 300px;
 margin-top: 250px;
}
.headquarters{
  border-bottom: var(--primary-color) 1px  solid;
  padding-bottom: 10px;
}
form {
  width: 800px;
  margin: 0 auto;
  padding: 1rem;
  border: solid 1px black;
  background-color: hsl(18, 80%, 82%);
  display: grid;
  
}

.grid-container{
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: auto auto;
  gap: 10px;
}
.grid-container-radio{
 grid-template-columns: 10px 10px;

}

input[type="radio"] {
  vertical-align: text-top;

}

.textarea-container{
  margin-top: 10px;
}
textarea{
  width: 750px;
}

fieldset {
  display: grid;
  grid-gap: 0;
  margin: 0;
  padding: 0;
  color: var(--primary-color);
}

legend {
  padding: 1rem;
  color: var(--primary-color);
}

label {
  text-align: left;
  padding-right: 10px;
}

input,
select,
textarea {
  padding: .5rem;
  font-size: 1.1rem;
}

input[type="checkbox"] {
  vertical-align: text-bottom;
  width: 10px;
  height: 10px;
}

button {
  margin: .5rem;
  background-color: hsl(182, 27%, 82%, 80%);
  border: solid var(--primary-color);
  border-radius: 1rem;
  font: 1.1rem;
}

button:hover {
  background-color: var(--primary-color);
  color: var(--accent-color-1);
}
figcaption{
  text-align: center;
  width: 200px;
}
.subscribe {
  font-size: smaller;
}