nav {
    background-color: rgb(0, 44, 40);
    padding: 10px;
}
nav a {
  color: ivory;
  display: block;
  padding: 20px;
}
h1 {
    color: rgb(0, 44, 40);
}
img {
    width: 150px;
    height: auto;
    border: 1px black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: 10px;
}